{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="categories">
        <p class="line"></p>
        <div class="categories-box">
            {% for choice in choices %}
                <div class="m-3">
                    <a href="{% url 'category' choice.0 %}" class="btn btn-outline-light btn-lg">{{ choice.1 }}</a>
                </div>
            {% endfor %}
        </div>
        <p class="line"></p>
        <h5>Select a category</h5>
    </div>
{% endblock %}
