<div class="card-size card m-4">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="{{ product.image }}" class="picture" alt="Product Photo">
        </div>
        <div class="col-md-6">
            {% include 'partial/product_category.html' with style='card-header' %}
            <div class="card-body">
                <p class="card-text">{{ product.title }}</p>
                <h5 class="card-title">{{ product.price }}$</h5>
                {% if footer == 'products' %}
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-light m-1">See more>>></a>
                    {% include 'partial/add_to_cart_post.html' %}
                {% elif footer == 'product' %}
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">In Stock: {{ product.balance }}</p>
                    <p class="card-small-text">Added at: {{ product.created_at }}</p>
                    <a class="btn btn-light m-1" href="{% url 'product_update' product.id %}" role="button">Edit</a>
                    <a class="btn btn-dark m-1" href="{% url 'product_delete' product.id %}" role="button">Delete</a>
                    {% include 'partial/add_to_cart_post.html' %}
                {% elif footer == 'delete' %}
                    <form action="{% url 'product_confirm_delete' product.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Delete">
                        <a href="{% url 'index' %}" class="btn btn-light">Cancel</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

