{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block content %}
    <div class="table-box form-box card-shadow">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="th-style">Product</th>
                <th scope="col" class="th-style">Price</th>
                <th scope="col" class="th-style">Quantity</th>
                <th scope="col" class="th-style">Total</th>
            </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    {% for cart in product.carts.all %}
                            <tr>
                                <td>{{ product.title }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ cart.qty }}</td>
                                <td>{{ product.total }}</td>
                            </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    <h5>Total in cart: {{ result }}</h5>
    </div>
{% endblock %}


