{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    {% include 'partial/product_search_in_menu.html' %}
{% endblock %}
{% block content %}
    <div class="message-box">
        <p class="msg">{{ message }}</p>
    </div>
    <div class="content">
        <div class="card-group">
            {% for product in products %}
                {% include 'partial/product_card.html' with footer='products' %}
            {% endfor %}
        </div>
        <div class="paginator-box">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
